<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,600" rel="stylesheet">
  <link href="./css/tv.css" rel="stylesheet">
</head>
<body>
  <div class="banner">
    <h1 class="title">Sherlock</h1>

    <p class="description">Producer: BBC; Cast: Benedict Cumberbatch, Martin Freeman; Creator: Mark Gatiss</p>

    <p class="rating">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star-half-o"></i>
    </p>
  </div>

  <table>
    <tr class="top">
      <th>episode</th>
      <th>release</th>
    </tr>
    <tr class="normal">
      <th>A Study in Pink</th>
      <th>Season 1, July 25, 2010</th>
    </tr>

  </table>
  <div class="img"></div>
</body>
</html>
